/*
    pokedex.css
*/
.pokedex-search-page {
    display: flex;
    position: fixed;
    width: 65%;
    height: 12%;
    top: 8rem;
    left: 7.4rem;
}

.pokedex-searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    padding-inline: 1rem;
    overflow: hidden;
    background: #f0f0f0b9;
}

.pokedex-search-input {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
    border: none;
    background: none;
    width: 49em;
    outline: none;
    caret-color: #333;
}

.pokedex-list {
    display: flex;
    width: 65%;
    height: 100%;
    margin-top: 20px;
}
