/*
    pokedex.css

    Styles for the Pokedex page layout and search functionality.
*/
.pokedex-search-page {
    z-index: 5;
    display: flex;
    position: relative;
    width: 55%;
    top: 8rem;
    left: 7.4rem;
}

.pokedex-searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-inline: 1rem;
    overflow: hidden;
    background: #f0f0f0e0;
    height: 3.5em;
}

.pokedex-search-input {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
    border: none;
    background: none;
    width: 47em;
    outline: none;
    caret-color: #333;
}

.pokedex-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(214px, 1fr));
    position: fixed;
    margin-top: 8px;
    top: 16.8rem;
    left: 7.4rem;
    bottom: 0;
    width: 55%;

    justify-content: space-between;
    overflow: auto;
}

.pokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;

    margin: 5px;
    padding: 4px;

    background: #f0f0f0;
    border-radius: 1rem;
    box-shadow: rgb(0 0 0 / 50%) 0px 10px 20px;

    text-align: center;

    height: auto;
    width: 226px;

    transition: 0.2s ease-in-out;
}

.pokemon-info {
    display: flex;
    flex-direction: column;

    font-weight: bold;
}

.number {
    color: #2e2e2e93;
}

.name {
    color: #100c27;
    font-size: 18px;
}

.type {
    display: flex;
    margin-bottom: 5px;
    width: 100%;
    height: auto;
    gap: 3px;
    user-select: none;
    justify-content: center;
}

.type img {
    width: 90px;
}

.imgContainer {
    display: flex;
    align-items: center;
    height: 5em;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}

.activePokemon {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    caret-color: transparent;

    top: 8rem;
    right: 7.4rem;
    bottom: 0;
    width: 26%;
}

.activeImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 10em;
}

.activePokemon-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    font-weight: bold;
}

.activeImgContainer img {
    width: auto;
    height: 100%;
    object-fit: contain;
    user-select: none;
    transition: 0.3s ease-in-out;
}

.activeImgContainer img:hover {
    transform: scale(1.05) rotate(2deg);
}

.imgContainer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    user-select: none;
}

.activePokemon-info .number {
    font-size: 14px;
}

.activePokemon-info .name {
    font-size: 23px;
}

.description {
    display: block;
    align-items: center;
    height: 40px;
    padding: 0px 15px;
    text-align: center;
    font-weight: 500;
    line-height: 0.9em;
    text-overflow: ellipsis;
    transition: 0.2s ease-in;
}

.extraInfo {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    background-color: #f0f0f0;
    font-size: 14px;
    border-radius: 20px;
    margin-top: 7px;
    padding: 10px 0px;
    width: 25em;
    height: 15.2em;
    box-sizing: border-box;

    overflow: hidden;
}

.category {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    color: #2e2e2e93;
}

.abilitiesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 3px;
}

.abilities {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4px;
}

.ability {
    font-size: 10px;
    color: #333;
    background-color: #f0f0f0;
    border: solid 2px #d6d6d6;
    border-radius: 25px;
    padding: 3px 14px;
    text-wrap: nowrap;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-wrap: nowrap;
}

.hwContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 7em;
}

.hwTitle {
    font-size: 12px;
}

.height, .weight {
    border-radius: 30px;
    margin-top: 4px;
    padding: 2px 25px;
    background-color: #e4e4e4;
}

.evoInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
}

.evolutions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.evolutions p {
    font-size: 10px;
}

.evoItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #e4e4e4;
    border-radius: 50px;
}

.evoItem img {
    display: flex;
    width: 64px;
}

.description:hover {
    transform: scale(1.01);
}

.pokemon:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.pokemon:active {
    transform: scale(1.06);
}

/* FILTER */

.pokedex-filter-container {
    display: flex;
    position: absolute;
    width: 55%;
    height: 4.8rem;
    top: 12.1rem;
    left: 7.4rem;
    text-wrap: nowrap;
}

.pokedex-filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline: 1rem;
}

.filter-btn {
    background: #f0f0f048;
    backdrop-filter: blur(7px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 0.4rem 0.5rem 0.3rem 0.5rem;
    font-size: 1.8rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    color: #333;
    transition: transform 0.2s ease, background 0.2s ease;
}

.filter-btn:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.filter-options {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-left: 1rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
}

.pokedex-filter.expanded .filter-options {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.filter-icon {
    display: flex;
    opacity: 0;
    transform: translateY(-8px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    transition-delay: calc(var(--order) * 100ms);

    color: #333;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    justify-content: center;
}

.filter-icon.active-filter i {
    transform: scale(1.2);
    color: #fff;
    text-shadow: 0 0 8px #f0f0f0;
    transition: transform 0.3s ease-in-out;
}

.filter-icon.active-filter img {
    filter: brightness(10) drop-shadow(0 0 8px #f0f0f0);
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.pokedex-filter.expanded .filter-icon {
    opacity: 1;
    transform: translateY(0);
}

.filter-gen-popup {
    display: none;
    position: absolute;
    top: 5rem;
    left: 2rem;
    background: #68686890;
    backdrop-filter: blur(7px);
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
    flex-wrap: wrap;
    gap: 0.3rem;
    z-index: 100;
}

.filter-type-popup {
    display: none;
    position: absolute;
    top: 5rem;
    left: 2rem;
    background: #68686890;
    backdrop-filter: blur(7px);
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
    flex-wrap: wrap;
    gap: 0.3rem;
    z-index: 100;
    justify-content: center;
}

.filter-gen-popup.active {
    display: flex;
}

.filter-type-popup.active {
    display: flex;
}

.gen-option {
    color: #333;
    font-weight: bold;
    padding: 0.3rem 0.7rem;
    border-radius: 0.3rem;
    transition: 0.2s ease-in-out;
}

.type-option {
    color: #333;
    font-weight: bold;
    padding: 0.1rem 0.7rem;
    border-radius: 0.3rem;
    transition: 0.2s ease-in-out;
}

.gen-option:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: #f5f5f5;
}

.type-option:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: #f5f5f5;
}

.pokedex-filter.expanded .filter-icon:hover {
    cursor: pointer;
}

.type-option[data-type="normal"]:hover { color: #e0dec5; }
.type-option[data-type="fire"]:hover { color: #ff8d1a; }
.type-option[data-type="water"]:hover { color: #8fc4ff; }
.type-option[data-type="grass"]:hover { color: #3caf25; }
.type-option[data-type="electric"]:hover { color: #ffeb32; }
.type-option[data-type="ice"]:hover { color: #b3f2f0; }
.type-option[data-type="fighting"]:hover { color: #ff3729; }
.type-option[data-type="poison"]:hover { color: #9d00a8; }
.type-option[data-type="ground"]:hover { color: #7a4e00; }
.type-option[data-type="flying"]:hover { color: #f7f4ff; }
.type-option[data-type="psychic"]:hover { color: #ff15eb; }
.type-option[data-type="bug"]:hover { color: #1f4b1f; }
.type-option[data-type="rock"]:hover { color: #606141; }
.type-option[data-type="ghost"]:hover { color: #3d3d3d; }
.type-option[data-type="dragon"]:hover { color: #5500ff; }
.type-option[data-type="dark"]:hover { color: #2c2c2c; }
.type-option[data-type="steel"]:hover { color: #c7c7c7; }
.type-option[data-type="fairy"]:hover { color: #eb56ff; }

@media screen and (min-width: 1366px) and (min-height: 700px) {
    .pokedex-search-page {
        height: 11%;
        left: 8.4rem;
    }

    .pokemon {
        width: 255px;
    }

    .pokedex-list {
        margin-top: 18px;
        left: 8.4rem;
    }

    .activePokemon {
        right: 8.4rem;
    }

    .pokedex-filter-container {
        left: 8.4rem;
        top: 12.3rem;
        height: 5rem;
    }

    .description {
        padding: 0px 15px;
    }

    .extraInfo {
        margin: 5px 5px;
        padding: 10px 10px;
        width: 27.4em;
        height: 21.8em;
    }

    .category {
        font-size: 15px;
    }

    .abilitiesContainer {
        margin: 10px 0px;
    }

    .ability {
        font-size: 13px;
        padding: 4px 16px;
    }
}
