/*
    global.css

    Basic global styles for layout, typography, and common components.
*/
html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Poppins', sans-serif; /* Use a modern sans-serif font */
    color: #333; /* Dark text for readability */
}

header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;

}

main {
    min-height: 100vh;
}

footer {
    display: flex;
    flex-direction: row;
    text-align: end;
    justify-content: start;
    position: absolute;
    bottom: 0;
    padding-left: 5px;
    color: #ffffff;
    font-size: 0.8rem;
    right: 10px;
    text-shadow: -1px 1px 2px #000000;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    gap: 60px;
    font-size: 20px;
}

nav a {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    color: #333;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

.card {
    background: #f0f0f048;
    backdrop-filter: blur(7px);
    border-radius: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: rgb(0 0 0 / 50%) 0px 10px 20px;
    width: 80vw;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.1em;
    height: 2.3em;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 550;
    color: rgb(234, 234, 234);
    background: #181818;
    transition: 0.2s ease-in-out;
    user-select: none;
    text-decoration: none;
}

.button i {
    padding-right: 0.5em;
}

#main-page.home {
    display: flex;
    justify-content: center;
}

#main-page.pokedex {
    display: flex;
}

#main-page.regions {
    display: flex;
    justify-content: center;
}
