/*
    main.css
*/
.home-page {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 15px;
    padding: 1rem;
    justify-content: space-between;
    overflow: hidden;
}

/* Home's Text div */
.home-text {
    padding: 10px;
    height: 100%;
    background-color: #5f5fbb00;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: max-content;
}

/* Home's Welcome Text */
.home-welcome {
    font-size: 4em;
    font-weight: 550;
    text-wrap: nowrap;
    margin-bottom: 20px;
    cursor: default;
    transition: 0.3s ease-in-out;
}

/* Home's Description Text */
.home-description {
    text-align: center;
    cursor: default;
    width: 80%;
    font-size: 18px;
    font-weight: 550;
    text-shadow: 0 0 1px #0000006b;
    transition: 0.3s ease-in-out;
}

/* fkin celebi */
.celebi {
    max-width: 300px;
    object-fit: contain;
    flex: 1;
    padding: 0 40px;
}

/* Link Buttons */
.home-links {
    padding-top: 25px;
    display: flex;
    gap: 20px;
}

.github:hover {
    cursor: pointer;
    transform: scale(1.04);
    background-color: #010029;
}

.links:hover {
    cursor: pointer;
    transform: scale(1.04);
    background-color: #0932a3;
}

.button:active {
    transform: scale(1.1);
    transform: rotate(-3deg);
}

.home-welcome:hover, .home-description:hover {
    transform: scale(1.01);
}
